HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
log/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### MyBatis Generator ###
src/main/java/com/wequan/bu/repository/dao/mbg/**
src/main/java/com/wequan/bu/repository/model/mbg/**
src/main/resources/mapper/mbg/**

### .DS_Store
**/.DS_Store

### log
log.path_IS_UNDEFINED