<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqCourseMaterialUnlockRecordMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqCourseMaterialUnlockRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_material_id" jdbcType="INTEGER" property="courseMaterialId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="unlock_time" jdbcType="TIMESTAMP" property="unlockTime" />
    <result column="study_points_cost" jdbcType="SMALLINT" property="studyPointsCost" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu.wq_course_material_unlock_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.mbg.WqCourseMaterialUnlockRecord" useGeneratedKeys="true">
    insert into bu.wq_course_material_unlock_record (course_material_id, user_id, unlock_time, 
      study_points_cost)
    values (#{courseMaterialId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{unlockTime,jdbcType=TIMESTAMP}, 
      #{studyPointsCost,jdbcType=SMALLINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.mbg.WqCourseMaterialUnlockRecord">
    update bu.wq_course_material_unlock_record
    set course_material_id = #{courseMaterialId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      unlock_time = #{unlockTime,jdbcType=TIMESTAMP},
      study_points_cost = #{studyPointsCost,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, course_material_id, user_id, unlock_time, study_points_cost
    from bu.wq_course_material_unlock_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, course_material_id, user_id, unlock_time, study_points_cost
    from bu.wq_course_material_unlock_record
  </select>
</mapper>