<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqDiscussionGroupTagMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqDiscussionGroupTag">
    <id column="id" jdbcType="SMALLINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="discussion_group_id" jdbcType="INTEGER" property="discussionGroupId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from bu.wq_discussion_group_tag
    where id = #{id,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.mbg.WqDiscussionGroupTag" useGeneratedKeys="true">
    insert into bu.wq_discussion_group_tag (name, discussion_group_id)
    values (#{name,jdbcType=VARCHAR}, #{discussionGroupId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.mbg.WqDiscussionGroupTag">
    update bu.wq_discussion_group_tag
    set name = #{name,jdbcType=VARCHAR},
      discussion_group_id = #{discussionGroupId,jdbcType=INTEGER}
    where id = #{id,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select id, name, discussion_group_id
    from bu.wq_discussion_group_tag
    where id = #{id,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, discussion_group_id
    from bu.wq_discussion_group_tag
  </select>
</mapper>