<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqDiscussionGroupMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqDiscussionGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="brief_description" jdbcType="VARCHAR" property="briefDescription" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="group_message" jdbcType="VARCHAR" property="groupMessage" />
    <result column="group_manager_id" jdbcType="INTEGER" property="groupManagerId" />
    <result column="group_capacity" jdbcType="INTEGER" property="groupCapacity" />
    <result column="visible" jdbcType="BIT" property="visible" />
    <result column="belong_school_id" jdbcType="SMALLINT" property="belongSchoolId" />
    <result column="guid" jdbcType="VARCHAR" property="guid" />
    <result column="logo" jdbcType="BINARY" property="logo" />
    <result column="image" jdbcType="BINARY" property="image" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu.wq_discussion_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.mbg.WqDiscussionGroup" useGeneratedKeys="true">
    insert into bu.wq_discussion_group (name, create_by, brief_description, 
      create_time, update_time, status, 
      group_message, group_manager_id, group_capacity, 
      visible, belong_school_id, guid, 
      logo, image)
    values (#{name,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, #{briefDescription,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, 
      #{groupMessage,jdbcType=VARCHAR}, #{groupManagerId,jdbcType=INTEGER}, #{groupCapacity,jdbcType=INTEGER}, 
      #{visible,jdbcType=BIT}, #{belongSchoolId,jdbcType=SMALLINT}, #{guid,jdbcType=VARCHAR}, 
      #{logo,jdbcType=BINARY}, #{image,jdbcType=BINARY})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.mbg.WqDiscussionGroup">
    update bu.wq_discussion_group
    set name = #{name,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      brief_description = #{briefDescription,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      group_message = #{groupMessage,jdbcType=VARCHAR},
      group_manager_id = #{groupManagerId,jdbcType=INTEGER},
      group_capacity = #{groupCapacity,jdbcType=INTEGER},
      visible = #{visible,jdbcType=BIT},
      belong_school_id = #{belongSchoolId,jdbcType=SMALLINT},
      guid = #{guid,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=BINARY},
      image = #{image,jdbcType=BINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, create_by, brief_description, create_time, update_time, status, 
    group_message, group_manager_id, group_capacity, visible, belong_school_id, guid, 
    logo, image
    from bu.wq_discussion_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, create_by, brief_description, create_time, update_time, status, 
    group_message, group_manager_id, group_capacity, visible, belong_school_id, guid, 
    logo, image
    from bu.wq_discussion_group
  </select>
</mapper>