<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqProfessorViewHistoryMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqProfessorViewHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="professor_id" jdbcType="INTEGER" property="professorId" />
    <result column="view_time" jdbcType="TIMESTAMP" property="viewTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu.wq_professor_view_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.mbg.WqProfessorViewHistory" useGeneratedKeys="true">
    insert into bu.wq_professor_view_history (user_id, professor_id, view_time
      )
    values (#{userId,jdbcType=INTEGER}, #{professorId,jdbcType=INTEGER}, #{viewTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.mbg.WqProfessorViewHistory">
    update bu.wq_professor_view_history
    set user_id = #{userId,jdbcType=INTEGER},
      professor_id = #{professorId,jdbcType=INTEGER},
      view_time = #{viewTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, professor_id, view_time
    from bu.wq_professor_view_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, professor_id, view_time
    from bu.wq_professor_view_history
  </select>
</mapper>