<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqProfessorCourseMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqProfessorCourse">
    <id column="professor_id" jdbcType="INTEGER" property="professorId" />
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from bu.wq_professor_course
    where professor_id = #{professorId,jdbcType=INTEGER}
      and course_id = #{courseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wequan.bu.repository.model.mbg.WqProfessorCourse">
    insert into bu.wq_professor_course (professor_id, course_id, create_by, 
      create_time)
    values (#{professorId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{createBy,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.mbg.WqProfessorCourse">
    update bu.wq_professor_course
    set create_by = #{createBy,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where professor_id = #{professorId,jdbcType=INTEGER}
      and course_id = #{courseId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select professor_id, course_id, create_by, create_time
    from bu.wq_professor_course
    where professor_id = #{professorId,jdbcType=INTEGER}
      and course_id = #{courseId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select professor_id, course_id, create_by, create_time
    from bu.wq_professor_course
  </select>
</mapper>