<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqStudyPointHistoryMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqStudyPointHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="action_log" jdbcType="VARCHAR" property="actionLog" />
    <result column="amount" jdbcType="SMALLINT" property="amount" />
    <result column="action_time" jdbcType="TIMESTAMP" property="actionTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu.wq_study_point_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.mbg.WqStudyPointHistory" useGeneratedKeys="true">
    insert into bu.wq_study_point_history (user_id, action_log, amount, 
      action_time)
    values (#{userId,jdbcType=INTEGER}, #{actionLog,jdbcType=VARCHAR}, #{amount,jdbcType=SMALLINT}, 
      #{actionTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.mbg.WqStudyPointHistory">
    update bu.wq_study_point_history
    set user_id = #{userId,jdbcType=INTEGER},
      action_log = #{actionLog,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=SMALLINT},
      action_time = #{actionTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, action_log, amount, action_time
    from bu.wq_study_point_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, action_log, amount, action_time
    from bu.wq_study_point_history
  </select>
</mapper>