<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqThreadMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqThread">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category" jdbcType="SMALLINT" property="category" />
    <result column="tag" jdbcType="SMALLINT" property="tag" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="study_points_bonus" jdbcType="SMALLINT" property="studyPointsBonus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
    <result column="dislikes" jdbcType="INTEGER" property="dislikes" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu.wq_thread
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.mbg.WqThread" useGeneratedKeys="true">
    insert into bu.wq_thread (user_id, title, category, 
      tag, content, study_points_bonus, 
      create_time, update_time, likes, 
      dislikes)
    values (#{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{category,jdbcType=SMALLINT}, 
      #{tag,jdbcType=SMALLINT}, #{content,jdbcType=VARCHAR}, #{studyPointsBonus,jdbcType=SMALLINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{likes,jdbcType=INTEGER}, 
      #{dislikes,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.mbg.WqThread">
    update bu.wq_thread
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      category = #{category,jdbcType=SMALLINT},
      tag = #{tag,jdbcType=SMALLINT},
      content = #{content,jdbcType=VARCHAR},
      study_points_bonus = #{studyPointsBonus,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      likes = #{likes,jdbcType=INTEGER},
      dislikes = #{dislikes,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, title, category, tag, content, study_points_bonus, create_time, 
    update_time, likes, dislikes
    from bu.wq_thread
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, title, category, tag, content, study_points_bonus, create_time, 
    update_time, likes, dislikes
    from bu.wq_thread
  </select>
</mapper>