<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqTutorReviewTagMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqTutorReviewTag">
    <result column="tag_id" jdbcType="SMALLINT" property="tagId" />
    <result column="tutor_review_id" jdbcType="INTEGER" property="tutorReviewId" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wequan.bu.repository.model.mbg.WqTutorReviewTag">
    insert into bu.wq_tutor_review_tag (tag_id, tutor_review_id, create_by, 
      create_time, update_time)
    values (#{tagId,jdbcType=SMALLINT}, #{tutorReviewId,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select tag_id, tutor_review_id, create_by, create_time, update_time
    from bu.wq_tutor_review_tag
  </select>
</mapper>