<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqTutorInquiryMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqTutorInquiry">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="brief_description" jdbcType="VARCHAR" property="briefDescription" />
    <result column="online" jdbcType="BIT" property="online" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="request_start_time" jdbcType="TIMESTAMP" property="requestStartTime" />
    <result column="request_end_time" jdbcType="TIMESTAMP" property="requestEndTime" />
    <result column="acceptable_pay_rate" jdbcType="REAL" property="acceptablePayRate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu.wq_tutor_inquiry
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.mbg.WqTutorInquiry" useGeneratedKeys="true">
    insert into bu.wq_tutor_inquiry (create_by, subject_id, brief_description, 
      online, create_time, update_time, 
      status, request_start_time, request_end_time, 
      acceptable_pay_rate)
    values (#{createBy,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, #{briefDescription,jdbcType=VARCHAR}, 
      #{online,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{requestStartTime,jdbcType=TIMESTAMP}, #{requestEndTime,jdbcType=TIMESTAMP}, 
      #{acceptablePayRate,jdbcType=REAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.mbg.WqTutorInquiry">
    update bu.wq_tutor_inquiry
    set create_by = #{createBy,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      brief_description = #{briefDescription,jdbcType=VARCHAR},
      online = #{online,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      request_start_time = #{requestStartTime,jdbcType=TIMESTAMP},
      request_end_time = #{requestEndTime,jdbcType=TIMESTAMP},
      acceptable_pay_rate = #{acceptablePayRate,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, create_by, subject_id, brief_description, online, create_time, update_time, 
    status, request_start_time, request_end_time, acceptable_pay_rate
    from bu.wq_tutor_inquiry
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_by, subject_id, brief_description, online, create_time, update_time, 
    status, request_start_time, request_end_time, acceptable_pay_rate
    from bu.wq_tutor_inquiry
  </select>
</mapper>