<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqTutorReviewMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqTutorReview">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rating" jdbcType="REAL" property="rating" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu.wq_tutor_review
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.mbg.WqTutorReview" useGeneratedKeys="true">
    insert into bu.wq_tutor_review (rating, comment, create_by, 
      create_time, update_time)
    values (#{rating,jdbcType=REAL}, #{comment,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.mbg.WqTutorReview">
    update bu.wq_tutor_review
    set rating = #{rating,jdbcType=REAL},
      comment = #{comment,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, rating, comment, create_by, create_time, update_time
    from bu.wq_tutor_review
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, rating, comment, create_by, create_time, update_time
    from bu.wq_tutor_review
  </select>
</mapper>