<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.mbg.WqTutorProfileMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.mbg.WqTutorProfile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="brief_introduction" jdbcType="VARCHAR" property="briefIntroduction" />
    <result column="resume_path" jdbcType="VARCHAR" property="resumePath" />
    <result column="transcript_path" jdbcType="VARCHAR" property="transcriptPath" />
    <result column="other_proof_path" jdbcType="VARCHAR" property="otherProofPath" />
    <result column="current_school_id" jdbcType="SMALLINT" property="currentSchoolId" />
    <result column="current_degree_id" jdbcType="SMALLINT" property="currentDegreeId" />
    <result column="current_location" jdbcType="VARCHAR" property="currentLocation" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="pay_rate" jdbcType="REAL" property="payRate" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="late_policy_id" jdbcType="SMALLINT" property="latePolicyId" />
    <result column="cancellation_policy_id" jdbcType="SMALLINT" property="cancellationPolicyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu.wq_tutor_profile
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.mbg.WqTutorProfile" useGeneratedKeys="true">
    insert into bu.wq_tutor_profile (user_id, brief_introduction, resume_path, 
      transcript_path, other_proof_path, current_school_id, 
      current_degree_id, current_location, create_time, 
      update_time, pay_rate, status, 
      late_policy_id, cancellation_policy_id)
    values (#{userId,jdbcType=INTEGER}, #{briefIntroduction,jdbcType=VARCHAR}, #{resumePath,jdbcType=VARCHAR}, 
      #{transcriptPath,jdbcType=VARCHAR}, #{otherProofPath,jdbcType=VARCHAR}, #{currentSchoolId,jdbcType=SMALLINT}, 
      #{currentDegreeId,jdbcType=SMALLINT}, #{currentLocation,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{payRate,jdbcType=REAL}, #{status,jdbcType=SMALLINT}, 
      #{latePolicyId,jdbcType=SMALLINT}, #{cancellationPolicyId,jdbcType=SMALLINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.mbg.WqTutorProfile">
    update bu.wq_tutor_profile
    set user_id = #{userId,jdbcType=INTEGER},
      brief_introduction = #{briefIntroduction,jdbcType=VARCHAR},
      resume_path = #{resumePath,jdbcType=VARCHAR},
      transcript_path = #{transcriptPath,jdbcType=VARCHAR},
      other_proof_path = #{otherProofPath,jdbcType=VARCHAR},
      current_school_id = #{currentSchoolId,jdbcType=SMALLINT},
      current_degree_id = #{currentDegreeId,jdbcType=SMALLINT},
      current_location = #{currentLocation,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      pay_rate = #{payRate,jdbcType=REAL},
      status = #{status,jdbcType=SMALLINT},
      late_policy_id = #{latePolicyId,jdbcType=SMALLINT},
      cancellation_policy_id = #{cancellationPolicyId,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, brief_introduction, resume_path, transcript_path, other_proof_path, 
    current_school_id, current_degree_id, current_location, create_time, update_time, 
    pay_rate, status, late_policy_id, cancellation_policy_id
    from bu.wq_tutor_profile
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, brief_introduction, resume_path, transcript_path, other_proof_path, 
    current_school_id, current_degree_id, current_location, create_time, update_time, 
    pay_rate, status, late_policy_id, cancellation_policy_id
    from bu.wq_tutor_profile
  </select>
</mapper>