<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.AppointmentMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.Appointment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tutor_id" jdbcType="INTEGER" property="tutorId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="brief_description" jdbcType="VARCHAR" property="briefDescription" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="subject_id" jdbcType="SMALLINT" property="subjectId" />
    <result column="topic_id" jdbcType="SMALLINT" property="topicId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="fee" jdbcType="INTEGER" property="fee" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="time_zone" jdbcType="VARCHAR" property="timeZone" />
    <result column="teaching_method" jdbcType="VARCHAR" property="teachingMethod" />
    <result column="teaching_description" jdbcType="VARCHAR" property="teachingDescription" />
  </resultMap>

  <resultMap id="ResultMapWithBriefInfo" extends="BaseResultMap" type="com.wequan.bu.repository.model.extend.AppointmentBriefInfo">
    <result column="t_id" jdbcType="INTEGER" property="tutorBasicInfo.id" />
    <result column="t_user_name" jdbcType="VARCHAR" property="tutorBasicInfo.userName" />
    <result column="t_first_name" jdbcType="VARCHAR" property="tutorBasicInfo.firstName" />
    <result column="t_last_name" jdbcType="VARCHAR" property="tutorBasicInfo.lastName" />
    <result column="t_school_id" jdbcType="SMALLINT" property="tutorBasicInfo.schoolId" />
    <result column="t_avatar_url" jdbcType="VARCHAR" property="tutorBasicInfo.avatarUrl" />
    <result column="t_avatar_url_in_provider" jdbcType="VARCHAR" property="tutorBasicInfo.avatarUrlInProvider" />
    <association property="userBriefInfo" columnPrefix="u_" resultMap="com.wequan.bu.repository.dao.UserMapper.ResultMapWithBriefInfo" />
  </resultMap>

  <sql id="Base_Column_List">
    id, tutor_id, user_id, create_time, update_time, status, brief_description, start_time,
    end_time, subject_id, topic_id, title, fee, transaction_id, time_zone, teaching_method, teaching_description
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ${schema}.wq_appointment
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectByTutorId" resultMap="ResultMapWithBriefInfo">
    select
    a.id, a.tutor_id, a.user_id, a.create_time, a.update_time, a.status, a.brief_description, a.start_time,
    a.end_time, a.subject_id, a.topic_id, a.title, a.fee, a.transaction_id,
    u.user_name as u_user_name, u.school_id as u_school_id, u.first_name as u_first_name, u.last_name as u_last_name,
    u.avatar_url as u_avatar_url, u.avatar_url_in_provider as u_avatar_url_in_provider, u.id as u_id,
    v.*
    from ${schema}.wq_appointment a
    inner join ${schema}.wq_user_profile u on u.id = a.user_id
    inner join (
    select
    t1.id t_id, u1.user_name t_user_name, u1.first_name t_first_name, u1.last_name t_last_name,
    u1.school_id t_school_id, u1.avatar_url t_avatar_url, u1.avatar_url_in_provider t_avatar_url_in_provider
    from ${schema}.wq_tutor_profile t1
    inner join ${schema}.wq_user_profile u1 on t1.user_id = u1.id
    ) v on v.t_id = a.tutor_id
    where a.tutor_id = #{tutor_id} and a.status &lt;&gt; -1
    <if test="status != null">
      <if test="status == 0">
        AND a.status = 0
      </if>
      <if test="status == 1">
        AND a.status IN (1,2)
      </if>
      <if test="status == 2">
        AND a.status IN (3,4)
      </if>
      <if test="status == 3">
        AND a.status IN (-1,-2,-3)
      </if>
    </if>
    order by a.create_time desc
  </select>

  <select id="selectByUserId" resultMap="ResultMapWithBriefInfo">
    select
      a.id, a.tutor_id, a.user_id, a.create_time, a.update_time, a.status, a.brief_description, a.start_time,
      a.end_time, a.subject_id, a.topic_id, a.title, a.fee, a.transaction_id,
      u.user_name as u_user_name, u.school_id as u_school_id, u.first_name as u_first_name, u.last_name as u_last_name,
      u.avatar_url as u_avatar_url, u.avatar_url_in_provider as u_avatar_url_in_provider, u.id as u_id,
      v.*
    from ${schema}.wq_appointment a
    inner join ${schema}.wq_user_profile u on u.id = a.user_id
    inner join (
      select
        t1.id t_id, u1.user_name t_user_name, u1.first_name t_first_name, u1.last_name t_last_name,
        u1.school_id t_school_id, u1.avatar_url t_avatar_url, u1.avatar_url_in_provider t_avatar_url_in_provider
      from ${schema}.wq_tutor_profile t1
      inner join ${schema}.wq_user_profile u1 on t1.user_id = u1.id
    ) v on v.t_id = a.tutor_id
    where a.user_id = #{userId} and a.status &lt;&gt; -1
    <if test="status != null">
      <if test="status == 0">
        AND a.status = 0
      </if>
      <if test="status == 1">
        AND a.status IN (1,2)
      </if>
      <if test="status == 2">
        AND a.status IN (3,4)
      </if>
      <if test="status == 3">
        AND a.status IN (-1,-2,-3)
      </if>
    </if>
    order by a.create_time desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ${schema}.wq_appointment
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.Appointment" useGeneratedKeys="true">
    insert into ${schema}.wq_appointment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tutorId != null">
        tutor_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="briefDescription != null and briefDescription != ''">
        brief_description,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="title != null and title != ''">
        title,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="timeZone != null">
        time_zone,
      </if>
      <if test="teachingMethod != null">
        teaching_method,
      </if>
      <if test="teachingDescription != null">
        teaching_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tutorId != null">
        #{tutorId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="briefDescription != null and briefDescription != ''">
        #{briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=SMALLINT},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=SMALLINT},
      </if>
      <if test="title != null and title != ''">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null">
        #{timeZone, jdbcType=VARCHAR},
      </if>
      <if test="teachingMethod != null">
        #{teachingMethod, jdbcType=VARCHAR},
      </if>
      <if test="teachingDescription != null">
        #{teachingDescription, jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.wequan.bu.repository.model.Appointment">
    update ${schema}.wq_appointment
    <set>
      <if test="tutorId != null">
        tutor_id = #{tutorId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="briefDescription != null and briefDescription != ''">
        brief_description = #{briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=SMALLINT},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=SMALLINT},
      </if>
      <if test="title != null and title != ''">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null">
        time_zone = #{timeZone, jdbcType=VARCHAR},
      </if>
      <if test="teachingMethod != null">
        teaching_method = #{teachingMethod, jdbcType=VARCHAR},
      </if>
      <if test="teachingDescription != null">
        teaching_description = #{teachingDescription, jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByTransactionId" parameterType="java.lang.String">
    DELETE FROM ${schema}.wq_appointment
    WHERE transaction_id = #{transaction_id, jdbcType=VARCHAR}
  </delete>

  <update id="updateByTransactionIdSelective" parameterType="com.wequan.bu.repository.model.Appointment">
    UPDATE ${schema}.wq_appointment
    <set>
      <if test="tutorId != null">
        tutor_id = #{tutorId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="briefDescription != null and briefDescription != ''">
        brief_description = #{briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=SMALLINT},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=SMALLINT},
      </if>
      <if test="title != null and title != ''">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null">
        time_zone = #{timeZone, jdbcType=VARCHAR},
      </if>
      <if test="teachingMethod != null">
        teaching_method = #{teachingMethod, jdbcType=VARCHAR},
      </if>
      <if test="teachingDescription != null">
        teaching_description = #{teachingDescription, jdbcType=VARCHAR},
      </if>
    </set>
    where transaction_id = #{transactionId,jdbcType=VARCHAR}
  </update>

  <select id="selectByTransactionId" resultType="com.wequan.bu.repository.model.Appointment">
    SELECT *
    FROM ${schema}.wq_appointment
    WHERE transaction_id = #{transaction_id, jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultType="com.wequan.bu.repository.model.Appointment">
    SELECT *
    FROM ${schema}.wq_appointment
    ORDER BY start_time DESC
  </select>
</mapper>