<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.AppointmentMapper">
    <select id="selectByPrimaryKey" resultType="com.wequan.bu.controller.vo.Appointment">
        SELECT *
        FROM ${schema}.wq_appointment
        WHERE id = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectByTutorId" resultType="com.wequan.bu.controller.vo.Appointment">
        SELECT *
        FROM ${schema}.wq_appointment
        WHERE tutor_id = #{tutor_id, jdbcType=INTEGER}
    </select>
</mapper>