<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.CourseMapper">
    <resultMap id="courseResultMap" type="com.wequan.bu.repository.model.Course">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code_first" jdbcType="VARCHAR" property="codeFirst" />
        <result column="code_second" jdbcType="VARCHAR" property="codeSecond" />
        <result column="school_id" jdbcType="INTEGER" property="schoolId" />
        <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
        <collection property="professors" column="id" ofType="com.wequan.bu.repository.model.Professor"
                    select="com.wequan.bu.repository.dao.ProfessorMapper.selectByCourseId"/>
    </resultMap>

    <resultMap id="baseResultMap" type="com.wequan.bu.repository.model.Course">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code_first" jdbcType="VARCHAR" property="codeFirst" />
        <result column="code_second" jdbcType="VARCHAR" property="codeSecond" />
        <result column="school_id" jdbcType="INTEGER" property="schoolId" />
        <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    </resultMap>

    <sql id="courseColumns">
        ${alias}.id ${prefix}_id,
        ${alias}.name ${prefix}_name,
        ${alias}.school_id ${prefix}_school_id,
        ${alias}.code_first ${prefix}_code_first,
        ${alias}.code_second ${prefix}_code_second,
        ${alias}.subject_id ${prefix}_subject_id
    </sql>

    <select id="selectAll" resultMap="courseResultMap">
        SELECT *
        FROM ${schema}.wq_course
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="baseResultMap">
        SELECT *
        FROM ${schema}.wq_course
        WHERE id = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectByIdAssociatedWithProfessor" parameterType="java.lang.Integer" resultMap="courseResultMap">
        SELECT *
        FROM ${schema}.wq_course
        WHERE id = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectByNameOrCode" resultMap="courseResultMap">
        SELECT *
        FROM ${schema}.wq_course
        WHERE name ILIKE #{name} OR code_first || code_second ILIKE #{code}
    </select>

    <insert id="save" parameterType="com.wequan.bu.controller.vo.CourseVo">
        INSERT INTO ${schema}.wq_course(name, school_id, code_first, code_second, subject_id)
        VALUES(#{name}, #{schoolId}, #{codeFirst}, #{codeSecond}, #{subjectId})
    </insert>
</mapper>