<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.DiscussionGroupMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.DiscussionGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="brief_description" jdbcType="VARCHAR" property="briefDescription" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="group_message" jdbcType="VARCHAR" property="groupMessage" />
    <result column="group_manager_id" jdbcType="INTEGER" property="groupManagerId" />
    <result column="group_capacity" jdbcType="INTEGER" property="groupCapacity" />
    <result column="visible" jdbcType="BIT" property="visible" />
    <result column="belong_school_id" jdbcType="SMALLINT" property="belongSchoolId" />
    <result column="guid" jdbcType="VARCHAR" property="guid" />
    <result column="tag_id" jdbcType="SMALLINT" property="tagId" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="current_headcount" jdbcType="INTEGER" property="currentHeadcount" />
  </resultMap>

  <resultMap id="ResultMapWithUserInfo" extends="BaseResultMap" type="com.wequan.bu.repository.model.extend.DiscussionGroupBriefInfo">
    <association property="createByUser" columnPrefix="cu_" resultMap="com.wequan.bu.repository.dao.UserMapper.ResultMapWithBriefInfo" />
    <association property="groupManagerInfo" columnPrefix="gm_" resultMap="com.wequan.bu.repository.dao.UserMapper.ResultMapWithBriefInfo" />
  </resultMap>

  <resultMap id="ResultMapWithUserMemberInfo" extends="ResultMapWithUserInfo" type="com.wequan.bu.repository.model.extend.DiscussionGroupBriefInfo">
    <collection property="groupMembers" columnPrefix="ms_" resultMap="com.wequan.bu.repository.dao.DiscussionGroupMemberMapper.ResultMapWithMemberInfo" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, create_by, brief_description, create_time, update_time, status, group_message, 
    group_manager_id, group_capacity, visible, belong_school_id, guid, tag_id, logo, image, current_headcount
  </sql>

  <sql id="Base_User_Columns">
    u.user_name as cu_user_name, u.school_id as cu_school_id, u.first_name as cu_first_name, u.last_name as cu_last_name,
    u.avatar_url as cu_avatar_url, u.avatar_url_in_provider as cu_avatar_url_in_provider, u.id as cu_id
  </sql>

  <sql id="Base_Group_Manager_Columns">
    g.user_name as gm_user_name, g.school_id as gm_school_id, g.first_name as gm_first_name, g.last_name as gm_last_name,
    g.avatar_url as gm_avatar_url, g.avatar_url_in_provider as gm_avatar_url_in_provider, g.id as gm_id
  </sql>

  <sql id="Base_Group_Member_Columns">
    dgm.id as ms_id, dgm.discussion_group_id as ms_discussion_group_id, dgm.member_id as ms_member_id, dgm.action ms_action, dgm.action_time ms_action_time,
    m.user_name as ms_m_user_name, m.school_id as ms_m_school_id, m.first_name as ms_m_first_name, m.last_name as ms_m_last_name,
    m.avatar_url as ms_m_avatar_url, m.avatar_url_in_provider as ms_m_avatar_url_in_provider, m.id as ms_m_id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from ${schema}.wq_discussion_group
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" resultMap="ResultMapWithUserInfo">
    select
      t.*,
      <include refid="Base_User_Columns" />,
      <include refid="Base_Group_Manager_Columns"/>
    from (
      select dg.*
      from ${schema}.wq_discussion_group dg
      where exists (
        select 1 from ${schema}.wq_discussion_group_member dgm
        where dgm.member_id = #{userId}
        and dgm.discussion_group_id = dg.id
        and action = 1
      )
    ) t
    inner join ${schema}.wq_user_profile u on t.create_by = u.id
    left join ${schema}.wq_user_profile g on t.group_manager_id = g.id
  </select>

  <select id="selectByConditions" resultMap="ResultMapWithUserInfo">
    select *
    from ${schema}.wq_discussion_group_info
    <if test="where != null and where != ''">
      where ${where}
    </if>
    <if test="orderBy != null and orderBy != ''">
      order by ${orderBy}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ${schema}.wq_discussion_group
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.DiscussionGroup" useGeneratedKeys="true">
    insert into ${schema}.wq_discussion_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null and name != ''">
        name,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="briefDescription != null and briefDescription != ''">
        brief_description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="groupMessage != null and groupMessage != ''">
        group_message,
      </if>
      <if test="groupManagerId != null">
        group_manager_id,
      </if>
      <if test="groupCapacity != null">
        group_capacity,
      </if>
      <if test="visible != null">
        visible,
      </if>
      <if test="belongSchoolId != null">
        belong_school_id,
      </if>
      <if test="guid != null and guid != ''">
        guid,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="currentHeadcount != null">
        current_headcount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="briefDescription != null and briefDescription != ''">
        #{briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="groupMessage != null and groupMessage != ''">
        #{groupMessage,jdbcType=VARCHAR},
      </if>
      <if test="groupManagerId != null">
        #{groupManagerId,jdbcType=INTEGER},
      </if>
      <if test="groupCapacity != null">
        #{groupCapacity,jdbcType=INTEGER},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=BIT},
      </if>
      <if test="belongSchoolId != null">
        #{belongSchoolId,jdbcType=SMALLINT},
      </if>
      <if test="guid != null and guid != ''">
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=SMALLINT},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="currentHeadcount != null">
        #{currentHeadCount, jdbcType=INTEGER}
      </if>
    </trim>
  </insert>

  <insert id="insertOrUpdateActionByUserId" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.DiscussionGroupMember" useGeneratedKeys="true">
    insert into ${schema}.wq_discussion_group_member (discussion_group_id, member_id, action, action_time)
    values (
      #{discussionGroupId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{action,jdbcType=SMALLINT}, #{actionTime,jdbcType=TIMESTAMP}
    )
    on conflict (discussion_group_id, member_id)
    do update set action = EXCLUDED.action, action_time = EXCLUDED.action_time
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.wequan.bu.repository.model.DiscussionGroup">
    update ${schema}.wq_discussion_group
    <set>
      <if test="name != null and name != ''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="briefDescription != null and briefDescription != ''">
        brief_description = #{briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="groupMessage != null and groupMessage != ''">
        group_message = #{groupMessage,jdbcType=VARCHAR},
      </if>
      <if test="groupManagerId != null">
        group_manager_id = #{groupManagerId,jdbcType=INTEGER},
      </if>
      <if test="groupCapacity != null">
        group_capacity = #{groupCapacity,jdbcType=INTEGER},
      </if>
      <if test="visible != null">
        visible = #{visible,jdbcType=BIT},
      </if>
      <if test="belongSchoolId != null">
        belong_school_id = #{belongSchoolId,jdbcType=SMALLINT},
      </if>
      <if test="guid != null and guid != ''">
        guid = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=SMALLINT},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="currentHeadcount != null">
        current_headcount = #{currentHeadcount, jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT *
    FROM ${schema}.wq_discussion_group
    ORDER BY create_time DESC
  </select>

  <select id="selectBySchoolId" resultMap="BaseResultMap">
    SELECT *
    FROM ${schema}.wq_discussion_group
    WHERE belong_school_id = #{school_id, jdbcType=INTEGER}
    ORDER BY create_time DESC
  </select>

  <select id="selectMemberIdsByDiscussionGroupId" resultType="java.lang.Integer">
    SELECT member_id
    FROM ${schema}.wq_discussion_group_member
    WHERE discussion_group_id = #{discussion_group_id, jdbcType=INTEGER} AND action = 1
  </select>

  <select id="selectDiscussionGroupMembers" resultType="com.wequan.bu.repository.model.DiscussionGroupMember">
    SELECT *
    FROM ${schema}.wq_discussion_group_member
    WHERE action = 1
  </select>

  <select id="selectDetailById" resultMap="ResultMapWithUserMemberInfo">
    select dg.*, <include refid="Base_Group_Member_Columns"/>
    from ${schema}.wq_discussion_group_info dg
    left join ${schema}.wq_discussion_group_member dgm on dgm.discussion_group_id = dg.id
    inner join ${schema}.wq_user_profile m on m.id = dgm.member_id
    where dg.id = #{id} and dgm.action = 1
  </select>

  <update id="updateCurrentHeadcountByPrimaryKey" parameterType="java.lang.Integer">
    update ${schema}.wq_discussion_group c
    set current_headcount = count
    from (
      select
        discussion_group_id,
        SUM(count) as count
      from(
            select
              discussion_group_id,
              case
                when action = -1 then 0
                else 1
              end as count
            from ${schema}.wq_discussion_group_member
          ) as a
      group by discussion_group_id
      having discussion_group_id = #{id, jdbcType=INTEGER}
    ) as b
    where c.id = b.discussion_group_id
  </update>

</mapper>