<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.FavoriteThreadStreamMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.FavoriteThreadStream">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="thread_stream_id" jdbcType="INTEGER" property="threadStreamId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <resultMap id="ResultMapWithThreadStream" type="com.wequan.bu.repository.model.extend.FavoriteThreadStreamBriefInfo">
    <association property="threadStream" columnPrefix="_thread_stream_" resultMap="com.wequan.bu.repository.dao.ThreadStreamMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Base_Column_List">
    user_id, thread_stream_id, create_time
  </sql>

  <select id="selectByUserId" resultType="com.wequan.bu.repository.model.extend.FavoriteThreadStreamBriefInfo">
    select
      fts.*,
      ts.id _thread_stream_id, ts.user_id _thread_stream_user_id,
      ts.thread_id _thread_stream_thread_id, ts.comment _thread_stream_comment,
      ts.to_stream_id _thread_stream_to_stream_id, ts.create_time _thread_stream_create_time,
      ts.update_time _thread_stream_update_time, ts.likes _thread_stream_likes, ts.dislikes _thread_stream_dislikes
    from ${schema}.wq_favorite_thread_stream fts
    inner join ${schema}.wq_thread_stream ts on ts.id = fts.thread_stream_id
    where fts.user_id = #{userId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from ${schema}.wq_favorite_thread_stream
    where user_id = #{userId,jdbcType=INTEGER}
    and thread_stream_id = #{threadStreamId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.wequan.bu.repository.model.FavoriteThreadStream">
    insert into ${schema}.wq_favorite_thread_stream
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="threadStreamId != null">
        thread_stream_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="threadStreamId != null">
        #{threadStreamId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

</mapper>