<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.MaterialMapper">
    <select id="selectAll" resultType="com.wequan.bu.repository.model.Material">
        SELECT *
        FROM ${schema}.wq_course_material
    </select>

    <select id="selectByPrimaryKey" resultType="com.wequan.bu.repository.model.Material">
        SELECT *
        FROM ${schema}.wq_course_material cm
        WHERE cm.id = #{id}
    </select>

    <select id="selectByCourseIdAndProfessorId" resultType="com.wequan.bu.repository.model.Material">
        SELECT *
        FROM ${schema}.wq_course_material cm
        WHERE cm.professor_id = #{p_id} AND cm.course_id = #{c_id}
    </select>
</mapper>