<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.OnlineEventMapper">
    <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.OnlineEvent">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="SMALLINT" property="type" />
        <result column="brief_description" jdbcType="VARCHAR" property="briefDescription" />
        <result column="create_by" jdbcType="INTEGER" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="fee" jdbcType="INTEGER" property="fee" />
        <result column="method" jdbcType="VARCHAR" property="method" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="visible" jdbcType="BIT" property="visible" />
        <result column="belong_school_id" jdbcType="SMALLINT" property="belongSchoolId" />
        <result column="guid" jdbcType="VARCHAR" property="guid" />
        <result column="method_detail" jdbcType="VARCHAR" property="methodDetail" />
        <result column="tag_id" jdbcType="INTEGER" property="tagId" />
    </resultMap>

    <resultMap id="ResultMapWithBLOBs" extends="BaseResultMap" type="com.wequan.bu.repository.model.OnlineEvent">
        <result column="logo" jdbcType="VARCHAR" property="logo" />
        <result column="image" jdbcType="VARCHAR" property="image" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, type, brief_description, create_by, create_time, update_time, status, fee,
        method, start_time, end_time, visible, belong_school_id, guid, method_detail, tag_id
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT *
        FROM ${schema}.wq_online_event oe
        WHERE oe.create_by = #{user_id}
    </select>

    <select id="selectByUserIdAndType" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from ${schema}.wq_online_event
        where create_by = #{userId}
        <if test="type != null">
            and type = #{type}
        </if>
    </select>

    <insert id="insertSelective" parameterType="com.wequan.bu.repository.model.OnlineEvent"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into ${schema}.wq_online_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="briefDescription != null">
                brief_description,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="fee != null">
                fee,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="visible != null">
                visible,
            </if>
            <if test="belongSchoolId != null">
                belong_school_id,
            </if>
            <if test="guid != null">
                guid,
            </if>
            <if test="methodDetail != null">
                method_detail,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="tagId != null">
                tag_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=SMALLINT},
            </if>
            <if test="briefDescription != null">
                #{briefDescription,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=SMALLINT},
            </if>
            <if test="fee != null">
                #{fee,jdbcType=INTEGER},
            </if>
            <if test="method != null">
                #{method,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="visible != null">
                #{visible,jdbcType=BIT},
            </if>
            <if test="belongSchoolId != null">
                #{belongSchoolId,jdbcType=SMALLINT},
            </if>
            <if test="guid != null">
                #{guid,jdbcType=VARCHAR},
            </if>
            <if test="methodDetail != null">
                #{methodDetail,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="tagId != null">
                #{tagId,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>

    <select id="selectAll" resultType="com.wequan.bu.repository.model.OnlineEvent">
        SELECT *
        FROM ${schema}.wq_online_event
        WHERE start_time > now()
        ORDER BY start_time ASC
    </select>

    <select id="selectByPrimaryKey" resultType="com.wequan.bu.repository.model.OnlineEvent">
        SELECT *
        FROM ${schema}.wq_online_event
        WHERE id = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectAllByType" resultType="com.wequan.bu.repository.model.OnlineEvent">
        SELECT *
        FROM ${schema}.wq_online_event
        WHERE type = #{type, jdbcType=SMALLINT}
    </select>

    <select id="selectAllBySchoolId" resultType="com.wequan.bu.repository.model.OnlineEvent">
        SELECT *
        FROM ${schema}.wq_online_event
        WHERE belong_school_id = #{school_id, jdbcType=SMALLINT}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.wequan.bu.repository.model.OnlineEvent">
        update ${schema}.wq_online_event
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=SMALLINT},
            </if>
            <if test="briefDescription != null">
                brief_description = #{briefDescription,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=SMALLINT},
            </if>
            <if test="fee != null">
                fee = #{fee,jdbcType=INTEGER},
            </if>
            <if test="method != null">
                method = #{method,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="visible != null">
                visible = #{visible,jdbcType=BIT},
            </if>
            <if test="belongSchoolId != null">
                belong_school_id = #{belongSchoolId,jdbcType=SMALLINT},
            </if>
            <if test="guid != null">
                guid = #{guid,jdbcType=VARCHAR},
            </if>
            <if test="methodDetail != null">
                method_detail = #{methodDetail,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="tagId != null">
                tag_id = #{tagId,jdbcType=SMALLINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertOrUpdateActionByUserId" parameterType="com.wequan.bu.repository.model.OnlineEventMember"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO ${schema}.wq_online_event_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="onlineEventId != null">
                online_event_id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="action != null">
                action,
            </if>
            <if test="actionTime != null">
                action_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="onlineEventId != null">
                #{onlineEventId,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=INTEGER},
            </if>
            <if test="action != null">
                #{action,jdbcType=SMALLINT},
            </if>
            <if test="actionTime != null">
                #{actionTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        ON CONFLICT (online_event_id, member_id)
        DO UPDATE SET action = EXCLUDED.action, action_time = EXCLUDED.action_time
    </insert>

    <insert id="insertOnlineEventTransaction" parameterType="com.wequan.bu.repository.model.OnlineEventTransaction">
        INSERT INTO ${schema}.wq_online_event_transaction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="onlineEventId != null">
                online_event_id,
            </if>
            <if test="transactionId != null">
                transaction_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="onlineEventId != null">
                #{onlineEventId, jdbcType=INTEGER},
            </if>
            <if test="transactionId != null">
                #{transactionId, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectByTransactionId" resultType="com.wequan.bu.repository.model.OnlineEvent">
        SELECT *
        FROM ${schema}.wq_online_event
        WHERE id = (
            SELECT online_event_id
            FROM ${schema}.wq_online_event_transaction
            WHERE transaction_id = #{transaction_id, jdbcType=VARCHAR}
        )
    </select>
</mapper>