<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.ProfessorMapper">
    <resultMap id="professorResultMap" type="com.wequan.bu.repository.model.Professor">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="first_name" jdbcType="VARCHAR" property="firstName" />
        <result column="last_name" jdbcType="VARCHAR" property="lastName" />
        <result column="department" jdbcType="VARCHAR" property="department" />
        <result column="school_id" jdbcType="INTEGER" property="schoolId" />
        <result column="overall_score" jdbcType="INTEGER" property="overallScore" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="create_by" jdbcType="INTEGER" property="createBy" />
    </resultMap>

    <select id="findAll" resultMap="professorResultMap">
        SELECT * FROM ${schema}.wq_professor_profile
    </select>
</mapper>