<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.ThreadMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.Thread">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category" jdbcType="SMALLINT" property="category" />
    <result column="tag_id" jdbcType="SMALLINT" property="tagId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="study_points_bonus" jdbcType="SMALLINT" property="studyPointsBonus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
    <result column="dislikes" jdbcType="INTEGER" property="dislikes" />
  </resultMap>

  <resultMap id="StreamResultMap" type="com.wequan.bu.repository.model.ThreadStream">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="thread_id" jdbcType="INTEGER" property="threadId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="to_stream_id" jdbcType="INTEGER" property="toStreamId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
    <result column="dislikes" jdbcType="INTEGER" property="dislikes" />
  </resultMap>

  <resultMap id="SubjectsResultMap" type="com.wequan.bu.repository.model.ThreadUserSelectedSubjects">
    <id column="id" jdbcType="INTEGER" property="userId"/>
    <result column="subjects_ids" jdbcType="VARCHAR" property="subjectIds"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, create_by, title, category, tag_id, content, study_points_bonus, create_time, 
    update_time, likes, dislikes
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bu.wq_thread
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectBySchoolId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select bu.wq_thread.id, create_by, title, category, tag_id, content, study_points_bonus, create_time,
    update_time, likes, dislikes
    from bu.wq_thread join bu.wq_user_profile
    on bu.wq_thread.create_by = bu.wq_user_profile.id
    where school_id = #{schoolId, jdbcType=INTEGER}
  </select>

  <select id="selectBySchoolIdAndTag" resultMap="BaseResultMap">
    select bu.wq_thread.id, create_by, title, category, tag_id, content, study_points_bonus, create_time,
    update_time, likes, dislikes
    from bu.wq_thread join bu.wq_user_profile
    on bu.wq_thread.create_by = bu.wq_user_profile.id
    where school_id = #{school_id, jdbcType=INTEGER} and tag_id = #{tag_id, jdbcType=SMALLINT}
    order by bu.wq_thread.create_time desc
  </select>

  <select id="selectDirectRepliesById" parameterType="java.lang.Integer" resultMap="StreamResultMap">
    select *
    from bu.wq_thread_stream
    where thread_id = #{thread_id,jdbcType=INTEGER}
  </select>

  <select id="selectIndirectRepliesById" parameterType="java.lang.Integer" resultMap="StreamResultMap">
    select *
    from bu.wq_thread_stream
    where thread_id = #{thread_id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserFollowingId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select bu.wq_thread.id, create_by, title, category, tag_id, content, study_points_bonus, create_time,
    update_time, likes, dislikes
    from bu.wq_thread join bu.wq_user_follow on bu.wq_thread.create_by = bu.wq_user_follow.follow_id
    where bu.wq_user_follow.user_id = #{userId,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bu.wq_thread
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.Thread" useGeneratedKeys="true">
    insert into bu.wq_thread (create_by, title, category, 
      tag_id, content, study_points_bonus, 
      create_time, update_time, likes, 
      dislikes)
    values (#{createBy,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{category,jdbcType=SMALLINT}, 
      #{tagId,jdbcType=SMALLINT}, #{content,jdbcType=VARCHAR}, #{studyPointsBonus,jdbcType=SMALLINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{likes,jdbcType=INTEGER}, 
      #{dislikes,jdbcType=INTEGER})
  </insert>

  <insert id="insertReply" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.ThreadStream" useGeneratedKeys="true">
    insert into bu.wq_thread_stream(user_id, thread_id, comment, to_stream_id, create_time, update_time, likes, dislikes)
    values (#{userId,jdbcType=INTEGER},#{threadId,jdbcType=INTEGER},#{comment,jdbcType=VARCHAR},#{toStreamId,jdbcType=INTEGER},
    #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{likes,jdbcType=INTEGER},#{dislikes,jdbcType=INTEGER},)
  </insert>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.Thread" useGeneratedKeys="true">
    insert into bu.wq_thread
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createBy != null">
        create_by,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="studyPointsBonus != null">
        study_points_bonus,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="likes != null">
        likes,
      </if>
      <if test="dislikes != null">
        dislikes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=SMALLINT},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=SMALLINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="studyPointsBonus != null">
        #{studyPointsBonus,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="likes != null">
        #{likes,jdbcType=INTEGER},
      </if>
      <if test="dislikes != null">
        #{dislikes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <insert id="addUserInterestedSubjects" keyColumn="user_id" keyProperty="user_id" parameterType="com.wequan.bu.repository.model.ThreadUserSelectedSubjects" useGeneratedKeys="true">
    insert into bu.wq_thread_user_selected_subjects(user_id, subject_ids)
    values (#{userId, jdbcType=INTEGER}, #{subject_ids, jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.wequan.bu.repository.model.Thread">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update bu.wq_thread
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=SMALLINT},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=SMALLINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="studyPointsBonus != null">
        study_points_bonus = #{studyPointsBonus,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="likes != null">
        likes = #{likes,jdbcType=INTEGER},
      </if>
      <if test="dislikes != null">
        dislikes = #{dislikes,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wequan.bu.repository.model.Thread">
    update bu.wq_thread
    set create_by = #{createBy,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      category = #{category,jdbcType=SMALLINT},
      tag_id = #{tagId,jdbcType=SMALLINT},
      content = #{content,jdbcType=VARCHAR},
      study_points_bonus = #{studyPointsBonus,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      likes = #{likes,jdbcType=INTEGER},
      dislikes = #{dislikes,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="likeThread" parameterType="java.lang.Integer">
    update bu.wq_thread
    set likes = likes+1
    where id = #{threadId, jdbcType=INTEGER} and created_by = #{userId, jdbcType=INTEGER}
  </update>

  <update id="dislikeThread" parameterType="java.lang.Integer">
    update bu.wq_thread
    set dislikes = dislikes+1
    where id = #{threadId, jdbcType=INTEGER} and created_by = #{userId, jdbcType=INTEGER}
  </update>

  <update id="likeReplyOfThread" parameterType="java.lang.Integer">
    update bu.wq_thread_stream
    set likes = likes+1
    where id = #{threadId, jdbcType=INTEGER} and user_id=#{userId, jdbcType=INTEGER} and to_stream_id = #{replyId, jdbcType=INTEGER}
  </update>

  <update id="dislikeReplyOfThread" parameterType="java.lang.Integer">
    update bu.wq_thread_stream
    set dislikes = dislikes+1
    where id = #{threadId, jdbcType=INTEGER} and user_id=#{userId, jdbcType=INTEGER} and to_stream_id = #{replyId, jdbcType=INTEGER}
  </update>
  <cache/>
</mapper>