<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.TopicMapper">
    <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.Topic">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
        <result column="create_by" jdbcType="INTEGER" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <resultMap id="ResultMapWithBriefInfo" type="com.wequan.bu.repository.model.extend.TopicBriefInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="selectByIds" resultType="com.wequan.bu.repository.model.Topic">
        <bind name="ids" value="'('+ ids + ')'" />
        SELECT *
        FROM ${schema}.wq_subjects s
        WHERE id IN ${ids}
    </select>
</mapper>