<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.TransactionMapper">
    <insert id="insertSelective" parameterType="com.wequan.bu.controller.vo.Transaction">
        INSERT INTO ${schema}.wq_transaction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="payFrom != null">
                pay_from,
            </if>
            <if test="payTo != null">
                pay_to,
            </if>
            <if test="payAmount != null">
                pay_amount,
            </if>
            <if test="paymentMethod != null">
                payment_method,
            </if>
            <if test="thirdPartyTransactionId != null">
                third_party_transaction_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="toTransactionId != null">
                to_transaction_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=SMALLINT},
            </if>
            <if test="payFrom != null">
                #{payFrom,jdbcType=INTEGER},
            </if>
            <if test="payTo != null">
                #{payTo,jdbcType=INTEGER},
            </if>
            <if test="payAmount != null">
                #{payAmount,jdbcType=INTEGER},
            </if>
            <if test="paymentMethod != null">
                #{paymentMethod,jdbcType=SMALLINT},
            </if>
            <if test="thirdPartyTransactionId != null">
                #{thirdPartyTransactionId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=SMALLINT},
            </if>
            <if test="updateTime != null">
                #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="toTransactionId != null">
                #{toTransactionId, jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <update id="updateByThirdPartyTransactionId" parameterType="com.wequan.bu.controller.vo.Transaction">
        UPDATE ${schema}.wq_transaction t
        <set>
            <if test="id != null">
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=SMALLINT},
            </if>
            <if test="payFrom != null">
                pay_from = #{payFrom,jdbcType=INTEGER},
            </if>
            <if test="payTo != null">
                pay_to = #{payTo,jdbcType=INTEGER},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount,jdbcType=INTEGER},
            </if>
            <if test="paymentMethod != null">
                payment_method = #{paymentMethod,jdbcType=SMALLINT},
            </if>
            <if test="thirdPartyTransactionId != null">
                third_party_transaction_id = #{thirdPartyTransactionId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=SMALLINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="toTransactionId != null">
                to_transaction_id = #{toTransactionId,jdbcType=VARCHAR},
            </if>
        </set>
       WHERE t.third_party_transaction_id = #{thirdPartyTransactionId, jdbcType=VARCHAR}
    </update>

    <delete id="deleteByThirdPartyTransactionId" parameterType="java.lang.String">
        delete from ${schema}.wq_transaction
        where third_party_transaction_id = #{payment_intent_id,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM ${schema}.wq_transaction
        WHERE id = #{id, jdbcType=VARCHAR}
    </delete>

    <select id="selectByPrimaryKey" resultType="com.wequan.bu.controller.vo.Transaction">
        SELECT *
        FROM ${schema}.wq_transaction
        WHERE id = #{id, jdbcType=VARCHAR}
    </select>

    <select id="selectByThirdPartyTransactionId" resultType="com.wequan.bu.controller.vo.Transaction">
        SELECT *
        FROM ${schema}.wq_transaction
        WHERE third_party_transaction_id = #{third_party_transaction_id, jdbcType=VARCHAR}
    </select>

    <select id="selectByUserId" resultType="com.wequan.bu.controller.vo.Transaction">
        SELECT *
        FROM ${schema}.wq_transaction
        WHERE pay_to = #{user_id} OR pay_from = #{user_id}
    </select>
</mapper>