<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.TutorApplicationMapper">
    <insert id="insertSelective" parameterType="com.wequan.bu.repository.model.TutorApplication">
        INSERT INTO ${schema}.wq_tutor_application(user_id, brief_introduction, create_time, update_time, status, current_city, current_state, teach_method, hourly_rate, late_policy_id, cancellation_policy_id, education_background_ids, subject_topics_ids, support_material_ids)
        VALUES (#{userId}, #{briefIntroduction}, #{createTime}, #{updateTime}, #{status}, #{currentCity}, #{currentState}, #{teachMethod}, #{hourlyRate}, #{latePolicyId}, #{cancellationPolicyId}, #{educationBackgroundIds}, #{subjectTopicsIds}, #{supportMaterialIds});
    </insert>
</mapper>