<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.TutorStripeMapper">
    <insert id="insertSelective" parameterType="com.wequan.bu.repository.model.TutorStripe">
        INSERT INTO ${schema}.wq_tutor_stripe(tutor_id, stripe_account, create_time)
        VALUES(#{tutorId}, #{stripeAccount}, #{createTime})
    </insert>

    <select id="selectByTutorId" resultType="com.wequan.bu.repository.model.TutorStripe">
        SELECT *
        FROM ${schema}.wq_tutor_stripe ts
        WHERE ts.tutor_id = #{tutor_id, jdbcType=INTEGER}
    </select>
</mapper>