<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wequan.bu.repository.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.wequan.bu.repository.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="credential" jdbcType="VARCHAR" property="credential" />
    <result column="school_id" jdbcType="SMALLINT" property="schoolId" />
    <result column="study_points" jdbcType="SMALLINT" property="studyPoints" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="invitation_code" jdbcType="VARCHAR" property="invitationCode" />
    <result column="brief_introduction" jdbcType="VARCHAR" property="briefIntroduction" />
    <result column="email_verified" jdbcType="BIT" property="emailVerified" />
    <result column="provider" jdbcType="VARCHAR" property="provider" />
    <result column="provider_id" jdbcType="VARCHAR" property="providerId" />
    <result column="avatar_url_in_provider" jdbcType="VARCHAR" property="avatarUrlInProvider" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="ResultMapWithAvatar" extends="BaseResultMap" type="com.wequan.bu.repository.model.User">
    <result column="avatar" jdbcType="BINARY" property="avatar" />
  </resultMap>

  <resultMap id="ResultMapWithStat" extends="ResultMapWithAvatar" type="com.wequan.bu.repository.model.extend.UserStats">
    <result column="subject_ids" jdbcType="VARCHAR" property="subjectIds" />
    <result column="number_of_threads" jdbcType="INTEGER" property="numberOfThreads" />
    <result column="number_of_following" jdbcType="INTEGER" property="numberOfFollowing" />
    <result column="number_of_followed" jdbcType="INTEGER" property="numberOfFollowed" />
    <result column="number_of_groups" jdbcType="INTEGER" property="numberOfGroups" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_name, email, phone, address, zip_code, credential, school_id, study_points,
    access_token, first_name, last_name, invitation_code, brief_introduction, email_verified,
    provider, provider_id, avatar_url_in_provider, create_time, update_time
  </sql>
  <sql id="Avatar_Column_List">
    avatar
  </sql>
  <sql id="simple_columns">
    id, user_name, email, credential, create_time, update_time, email_verified, provider, provider_id
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ${schema}.wq_user_profile
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wequan.bu.repository.model.User" useGeneratedKeys="true">
    insert into ${schema}.wq_user_profile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null and userName != ''">
        user_name,
      </if>
      <if test="email != null and email != ''">
        email,
      </if>
      <if test="phone != null and phone != ''">
        phone,
      </if>
      <if test="address != null and address != ''">
        address,
      </if>
      <if test="zipCode != null and zipCode != ''">
        zip_code,
      </if>
      <if test="credential != null and credential != ''">
        credential,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="studyPoints != null">
        study_points,
      </if>
      <if test="accessToken != null and accessToken != ''">
        access_token,
      </if>
      <if test="firstName != null and firstName != ''">
        first_name,
      </if>
      <if test="lastName != null and lastName != ''">
        last_name,
      </if>
      <if test="invitationCode != null and invitationCode != ''">
        invitation_code,
      </if>
      <if test="briefIntroduction != null and briefIntroduction != ''">
        brief_introduction,
      </if>
      <if test="emailVerified != null">
        email_verified,
      </if>
      <if test="provider != null and provider != ''">
        provider,
      </if>
      <if test="providerId != null and providerId != ''">
        provider_id,
      </if>
      <if test="avatarUrlInProvider != null and avatarUrlInProvider != ''">
        avatar_url_in_provider,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null and userName != ''">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email != ''">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone != ''">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null and address != ''">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null and zipCode != ''">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="credential != null and credential != ''">
        #{credential,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=SMALLINT},
      </if>
      <if test="studyPoints != null">
        #{studyPoints,jdbcType=SMALLINT},
      </if>
      <if test="accessToken != null and accessToken != ''">
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null and firstName != ''">
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null and lastName != ''">
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="invitationCode != null and invitationCode != ''">
        #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="briefIntroduction != null and briefIntroduction != ''">
        #{briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="emailVerified != null">
        #{emailVerified,jdbcType=BIT},
      </if>
      <if test="provider != null and provider != ''">
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null and providerId != ''">
        #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrlInProvider != null and avatarUrlInProvider != ''">
        #{avatarUrlInProvider,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=BINARY},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.wequan.bu.repository.model.User">
    update ${schema}.wq_user_profile
    <set>
      <if test="userName != null and userName != ''">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email != ''">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone != ''">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null and address != ''">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null and zipCode != ''">
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="credential != null and credential != ''">
        credential = #{credential,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null">
        school_id = #{schoolId,jdbcType=SMALLINT},
      </if>
      <if test="studyPoints != null">
        study_points = #{studyPoints,jdbcType=SMALLINT},
      </if>
      <if test="accessToken != null and accessToken != ''">
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null and firstName != ''">
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null and lastName != ''">
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="invitationCode != null and invitationCode != ''">
        invitation_code = #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="briefIntroduction != null and briefIntroduction != ''">
        brief_introduction = #{briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="emailVerified != null">
        email_verified = #{emailVerified,jdbcType=BIT},
      </if>
      <if test="provider != null and provider != ''">
        provider = #{provider,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null and providerId != ''">
        provider_id = #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrlInProvider != null and avatarUrlInProvider != ''">
        avatar_url_in_provider = #{avatarUrlInProvider,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=BINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateEmailVerifiedByEmail">
    update ${schema}.wq_user_profile
    set email_verified = #{verified,jdbcType=BIT}
    where email = #{email,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from ${schema}.wq_user_profile
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from ${schema}.wq_user_profile
  </select>

  <select id="selectByEmail" resultMap="BaseResultMap">
    select <include refid="simple_columns" />
    from ${schema}.wq_user_profile
    where email = #{email}
  </select>

  <select id="existsByEmail" resultType="java.lang.Boolean">
    select count(1) > 0
    from ${schema}.wq_user_profile
    where email = #{email}
  </select>

  <select id="selectByUserName" resultMap="BaseResultMap">
    select <include refid="simple_columns" />
    from ${schema}.wq_user_profile
    where user_name = #{userName}
  </select>

  <select id="selectById" resultMap="ResultMapWithStat">
    select
      t.id, t.first_name, t.last_name, t.user_name, t.email, t.school_id, t.brief_introduction,
      t.avatar, t.avatar_url_in_provider, t.provider, t.create_time, t.update_time,
      (select string_agg(subject_id::character varying, ',') from ${schema}.wq_user_subject where user_id = t.id) as subject_ids,
      (select count(1) from ${schema}.wq_thread where create_by = t.id) as number_of_thread,
      (select count(1) from ${schema}.wq_user_follow where user_id = t.id) as number_of_following,
      (select count(1) from ${schema}.wq_user_follow where follow_id = t.id) as number_of_followed,
      (select count(1) from ${schema}.wq_discussion_group_member where member_id = t.id and action = 'join') as number_of_group
    from ${schema}.wq_user_profile t
    where t.id = #{userId}
  </select>

</mapper>